<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./invoice.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Mono:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gurajada:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bakbak One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Post No Bills Colombo ExtraBold:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="macbook-air-2">
      <img class="macbook-air-2-child" alt="" src="./public/group-110.svg" />

      <img class="macbook-air-2-item" alt="" src="./public/group-110.svg" />

      <img class="macbook-air-2-inner" alt="" src="./public/group-110.svg" />

      <div class="rectangle-div"></div>
      <img class="sampleqr-1-icon" alt="" src="./public/sampleqr-1@2x.png" />

      <div class="mahaveer-trading-company">Mahaveer Trading Company</div>
      <div class="ground-floorshop-no-container">
        <span class="ground-floorshop-no-container1">
          <p class="ground-floorshop-no">Ground Floor,Shop No 67,</p>
          <p class="ground-floorshop-no">Padmawati NagarB. Bhadarna,</p>
          <p class="ground-floorshop-no">JAIPUR - 302013,RAJASTHAN</p>
          <p class="ground-floorshop-no">
            <span class="gstinuin">GSTIN/UIN </span>
            <span>: 08PLLPS828 IQIZG </span>
          </p>
          <p class="state-name-rajasthan-code">
            <span class="gstinuin">State Name</span>
            <span> : Rajasthan. </span>
            <span class="gstinuin">Code</span>
            <span class="span"> : 08</span>
          </p>
        </span>
      </div>
      <div class="guru-nanak-enterprises-container">
        <span class="ground-floorshop-no-container1">
          <p class="ground-floorshop-no">GURU NANAK ENTERPRISES</p>
          <p class="ground-floorshop-no">PALMENCLAVE Ludhiana,</p>
          <p class="ground-floorshop-no">Ludhiana- 141116,Punjab</p>
          <p class="ground-floorshop-no">
            <span class="gstinuin">GSTIN/UIN</span>
            <span> : 031JEPK4859NIZM </span>
          </p>
          <p class="state-name-rajasthan-code">
            <span class="gstinuin">State Name</span>
            <span> : Punjab, </span>
            <span class="gstinuin">Code</span>
            <span class="span"> : 03</span>
          </p>
        </span>
      </div>
      <div class="guru-nanak-enterprises-container2">
        <span class="ground-floorshop-no-container1">
          <p class="ground-floorshop-no">GURU NANAK ENTERPRISES</p>
          <p class="ground-floorshop-no">PALMENCLAVE Ludhiana,</p>
          <p class="ground-floorshop-no">Ludhiana- 141116,Punjab</p>
          <p class="ground-floorshop-no">
            <span class="gstinuin">GSTIN/UIN</span>
            <span> : 031JEPK4859NIZM </span>
          </p>
          <p class="state-name-rajasthan-code">
            <span class="gstinuin">State Name</span>
            <span> : Punjab, </span>
            <span class="gstinuin">Code</span>
            <span class="span"> : 03</span>
          </p>
        </span>
      </div>
      <img class="line-icon" alt="" src="./public/line-47.svg" />

      <div class="line-div"></div>
      <div class="macbook-air-2-child1"></div>
      <div class="macbook-air-2-child2"></div>
      <div class="macbook-air-2-child3"></div>
      <div class="macbook-air-2-child4"></div>
      <div class="macbook-air-2-child5"></div>
      <div class="macbook-air-2-child6"></div>
      <div class="macbook-air-2-child7"></div>
      <div class="macbook-air-2-child8"></div>
      <div class="macbook-air-2-child9"></div>
      <img class="macbook-air-2-child10" alt="" src="./public/line-49.svg" />

      <img class="macbook-air-2-child11" alt="" src="./public/line-66.svg" />

      <img class="macbook-air-2-child12" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child13" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child14" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child15" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child16" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child17" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child18" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child19" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child20" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child21" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child22" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child23" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child24" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child25" alt="" src="./public/line-47.svg" />

      <img class="macbook-air-2-child26" alt="" src="./public/line-47.svg" />

      <b class="tax-invoice">Tax Invoice</b>
      <div class="invoice-no-wrapper">
        <b class="invoice-no">Invoice No.</b>
      </div>
      <div class="dispatch-document-no-wrapper">
        <b class="invoice-no">dispatch document no.</b>
      </div>
      <div class="modeterms-of-payment-wrapper">
        <b class="invoice-no">mode/terms of payment</b>
      </div>
      <div class="destination-wrapper">
        <b class="invoice-no">DEstination</b>
      </div>
      <div class="wrapper">
        <div class="div">5</div>
      </div>
      <div class="dated-parent">
        <b class="dated">dated</b>
        <div class="huz-guj">14-08-2023</div>
      </div>
      <div class="dispatched-through-parent">
        <b class="dispatched-through">dispatched through </b>
        <div class="truck">TRUCK</div>
      </div>
      <div class="other-references-parent">
        <b class="dated">other reference(s)</b>
        <div class="huz-guj">HUZ GUJ</div>
      </div>
      <div class="motor-vehicle-number-parent">
        <b class="motor-vehicle-number">MOTOR Vehicle number</b>
        <div class="pb11ap8197">PB11AP8197</div>
        <div class="dispatch-from-anand">Dispatch From Anand</div>
        <div class="div2">1</div>
        <div class="div3">1</div>
        <div class="div4">7204</div>
        <div class="ms-scrap-less-container">
          <p class="state-name-rajasthan-code">MS SCRAP</p>
          <p class="state-name-rajasthan-code">&nbsp;</p>
          <p class="state-name-rajasthan-code">&nbsp;</p>
          <p class="state-name-rajasthan-code">&nbsp;</p>
          <p class="state-name-rajasthan-code">
            <span class="span">less: </span>
            <i class="output-igst">OUTPUT IGST </i>
          </p>
          <p class="state-name-rajasthan-code">
            <i class="output-igst">&nbsp;</i>
          </p>
          <p class="state-name-rajasthan-code">
            <i class="output-igst"> @18% ROUND OFF</i>
          </p>
        </div>
        <div class="total">TOTAL</div>
        <div class="total">TOTAL</div>
        <div class="total2">TOTAL</div>
        <div class="div5">7204</div>
        <div class="div6">35,145</div>
        <div class="div7">35,145</div>
        <i class="e-oe">E. & O.E</i>
        <div class="div8">18</div>
        <div class="div9">18%</div>
        <div class="kgs">kgs</div>
        <div class="div10">6,15,037.50</div>
        <div class="div11">6,15,037.50</div>
        <div class="div12">6,15,037.50</div>
        <div class="div13">1,10,706.75</div>
        <div class="div14">1,10,706.75</div>
        <div class="div15">1,10,706.75</div>
        <div class="div16">1,10,706.75</div>
        <div class="div17">1,10,706.75</div>
        <div class="div18">7,25,744.00</div>
        <div class="ludiana">LUDIANA</div>
      </div>
      <div class="e-way-no-parent">
        <b class="dated">e-way no.</b>
        <div class="huz-guj">5</div>
        <div class="huz-guj">5</div>
      </div>
      <div class="delivery-note-date-wrapper">
        <b class="invoice-no">delivery note date</b>
      </div>
      <div class="suppilers-ref-parent">
        <b class="suppilers-ref">suppiler’s ref</b>
        <div class="huz-guj">SAME DAY</div>
      </div>
      <div class="bill-landinglr-rr-no-wrapper">
        <b class="invoice-no">BILL LAnding/LR-RR No.</b>
      </div>
      <div class="delivery-note-wrapper">
        <b class="invoice-no">delivery note</b>
      </div>
      <div class="delivery-note-container">
        <b class="invoice-no">delivery note</b>
      </div>
      <div class="dated-wrapper">
        <b class="invoice-no">Dated</b>
      </div>
      <div class="terms-of-deilvery-wrapper">
        <b class="terms-of-deilvery">terms of deilvery</b>
      </div>
      <div class="sn-wrapper">
        <b class="sn">s/n</b>
      </div>
      <div class="sn-container">
        <b class="sn1">s/n</b>
      </div>
      <div class="rate-wrapper">
        <b class="rate">rate</b>
      </div>
      <div class="amount-wrapper">
        <b class="amount">amount</b>
      </div>
      <div class="amount-chargeable-in-words-parent">
        <div class="amount-chargeable-in-container">
          <b>Amount chargeable </b>
          <i class="in-words">(in words)</i>
          <b> </b>
        </div>
        <div class="total-amount-in-container">
          <b>total amount </b>
          <i class="in-words">(in words)</i>
          <b> </b>
        </div>
        <i class="inr-seven-lakhs"
          >INR Seven lakhs twenty five thousand and seven hundred and forty four
          only</i
        >
        <i class="inr-one-lakhs"
          >INR one lakhs ten thousand and seven hundred and six and seventy five
          paise only</i
        >
      </div>
      <div class="discerption-of-goods-wrapper">
        <b class="discerption-of-goods">discerption of goods</b>
      </div>
      <div class="hsnsac-parent">
        <b class="hsnsac">hsn/sac</b>
        <b class="hsnsac1">hsn/sac</b>
        <b class="taxable-value">taxable value</b>
        <b class="integrated-tax">integrated tax</b>
        <b class="total-tax-amount">total tax amount</b>
        <b class="quantity">quantity</b>
        <b class="rate1">rate</b>
        <b class="per">per</b>
        <b class="amount1">amount</b>
      </div>
      <i class="consignee">Consignee</i>
      <i class="disclaimer">
        <span>disclaimer</span>
        <span class="span3"> </span>
      </i>
      <i class="for-mahaveer-trading">FOR MAHAVEER TRADING COMPANY</i>
      <i class="buyer">buyer</i>
      <div class="this-is-a">This is a computer generated invoice.</div>
      <i class="authorized-signature">Authorized Signature </i>
      <div class="we-declared-that-container">
        <p class="state-name-rajasthan-code">
          WE DECLARED THAT THIS INVOICE SHOWS THE ACTUAL PRICE
        </p>
        <p class="state-name-rajasthan-code">&nbsp;</p>
        <p class="state-name-rajasthan-code">
          OF THE GOOD DESCRIBED AND THAT ALL PARTICULAR ARE
        </p>
      </div>
      <div class="mahaveer-trading-company1">MAHAVEER TRADING COMPANY</div>
    </div>
  </body>
</html>
